<!-- 
<button (click)="onClick()">saluto</button>

messaggio Di Saluto:{{messaggioDiSaluto}}
<hr>

contatore:{{contatore}}<button (click)="onInc()">inc</button>

<hr>
<app-altra></app-altra>

<hr>
<app-esempio-evento [datoDiInput]="contatore" (eventEmitter)="gestoreEvento($event)">
</app-esempio-evento> -->
<button (click)="onVisualizza()">vis/nascondi</button>

<div *ngIf="visualizza">
    <div *ngFor="let post of posts$ | async">
        {{post.userId}} - {{post.id}} - {{post.title}}
    </div>
</div>