<h2>Add libro</h2>
<form [formGroup]="librofrm" (ngSubmit)="onSubmit(librofrm.value)">
    <input type="input" id="id" placeholder="id" formControlName="id" hidden>
    <div>Titolo:
        <input type="input" id="titolo" placeholder="titolo" formControlName="titolo">

        <div *ngIf="librofrm.controls['titolo'].invalid && 
            (librofrm.controls['titolo'].dirty || librofrm.controls['titolo'].touched)"
                 class="alert">


            <div *ngIf="librofrm.controls['titolo'].errors?.['required']">
                Name is required.
            </div>
            <div *ngIf="librofrm.controls['titolo'].errors?.['minlength']">
                Name must be at least 4 characters long.
            </div>
            <div *ngIf="librofrm.controls['titolo'].errors?.['forbiddenName']">
                Name cannot be Bob.
            </div> 

        </div>
    </div>
    <div>Autore:
        <input type="input" id="autore" placeholder="autore" formControlName="autore">
    </div>
    <div>Prezzo:
        <input type="input" id="prezzoCopertina" placeholder="prezzo di Copertina" formControlName="prezzoCopertina">
    </div>
    <br>
    <button type="submit" [disabled]="!librofrm.valid">Salva</button>
    <button (click)="annulla()">Annulla</button>
</form>